@import "tailwindcss";

.filter-input {
  @apply w-full px-4 py-3 rounded-lg
  bg-black/60 text-sm text-white
  border border-white/20
  focus:outline-none focus:ring-2 focus:ring-green-500
  transition;
}
